.App {
  text-align: center;
  background-image: url('https://assets.codepen.io/4996277/275646.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

p {
  font-size: 1.2rem;
}

.div-spacer {
  height: 100vh
}

